*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 30px 0;
}
.header__body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__logo{
    width: 80px
}
.header__title{
    font-size: 48px;
    margin-right: 20px;
    font-weight: bold;
}
.add__body{
    position: relative;
    width: 300px;
    margin: 0 auto 50px;
}

.add__text {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
  }
.add__button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.2s linear;
  }
 .add__button:before {
    content: "+";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
  }
  .add__button:hover{
    background: #4ed624;
  }
  .card{
    font-size: 20px;
    padding: 30px;
    color: rebeccapurple;
    border-radius: 20px;
    background-color: #4ed624;
    margin: 0 auto 10px;
    width: 340px;

  }

  .empty{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: red;
    font-weight: bold;
  }
  .removes{
    display: none;
  }